---
layout: html
---
<a class="hamburger-menu" href="/">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</a>

<div class="post transition-in">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <div class="post-left">
    {% include author.html %}

    <span class="post-tags-wrapper">
      {% for category in page.categories %}
        <span class="tag" style="background-color: #{{ page.color }}">{{ category }}</span>
      {% endfor %}
    </span>
  </div>

  <article class="post-content">
    <div class="post-image" style="background-image: url(/img/{{ page.image }});">
    </div>

    {{ content }}

  </article>

</div>
