.padder {
  position: relative;
  transition: opacity $speed $easing;
  margin-bottom: 30px;

  @include breakpoint($tablet) {
    margin-bottom: 10px;
  }

  &.hidden {
    overflow: hidden;
    padding-bottom: 0;
    opacity: 0;
    margin-top: 0;
  }

  &.visible {
    opacity: 1;
  }
}

.blog-item.card {
  width: 100%;
  padding-bottom: 130%;
  display: block;
  float: left;
  box-shadow: 0 0 30px rgba(black, .0);
  border-radius: $radius;
  position: relative;
  background: white;
  top: 0;
  z-index: 2;
  perspective: 600px;
  transition: transform $speed $easing,
              z-index 0s $speed,
              opacity $speed $easing;

  &:before, &:after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    transition: opacity $speed $easing,
                z-index $speed $easing $speed,
                transform $speed $easing,
                height $speed $easing,
                width $speed $easing;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
      rgba(black, 0) 0%,
      rgba(black, .8) 30%,
      rgba(black, .8) 70%,
      rgba(black, 0) 100%
    );
  }

  &:after {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
      rgba(black, 0) 0%,
      rgba(black, .8) 30%,
      rgba(black, .8) 70%,
      rgba(black, 0) 100%
    );
  }

  .blog-item-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    background-size: cover;
    background-position: center center;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 30;
      background: $gray-light;
      opacity: 0;
      transition: opacity $speed $easing $speed;
    }
  }

  .blog-item-link {
    backgound: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    transform: scale(1) translateY(0);
    transition: transform $speed $easing,
                border $speed $easing,
                z-index 0s $speed,
                opacity $speed $easing;

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      z-index: -1;
      transition: opacity $speed $easing;
      background: linear-gradient(
        to bottom, rgba(black, .0) 30%,
        rgba(black, .1) 70%,
        rgba(black, .3) 100%
      );
    }
  }

  .post-date-wrapper {
    position: absolute;
    bottom: -2px;
    right: 6px;
    transition: opacity $speed $easing;
  }

  .blog-item-title-wrapper {
    display: block;
    padding: 16px 32px;
    text-align: center;
    transition: opacity $speed $easing;
  }

  .blog-item-title {
    background: white;
    display: inline;
    line-height: 49px;
    box-decoration-break: clone;
    margin: 0;
    color: $black;
    padding: 2px;
    box-shadow: 10px 0 0 white, -10px 0 0 white, 2px 0 0 white, -2px 0 0 white;
    font-weight: 600;
  }

  .blog-item-tags-wrapper {
    position: absolute;
    bottom: $padder;
    left: $padder;
    max-width: 90%;
    transition: $speed $easing;

    .tag + .tag {
      margin-left: $padder;
    }
  }

  @include breakpoint($tablet) {
    &.is-clicked,
    &:hover {
      z-index: 5;
      transition: transform $speed $easing,
                  z-index 0s 0s,
                  opacity $speed $easing;

      &:before, &:after {
        opacity: .7;
        transition: opacity $speed $easing,
                    z-index $speed 0s,
                    transform $speed $easing,
                    height $speed $easing,
                    width $speed $easing;
      }

      &:before {
        width: 200%;
      }

      &:after {
        height: 190%;
        transform: translate(-50%, -40%);
      }


      .blog-item-link {
        transition: transform $speed $easing,
                    border $speed $easing,
                    z-index 0s 0s,
                    opacity $speed $easing;
        opacity: 1 !important;
        transform: scale(1.36) translateY(27px);
        z-index: 4;
      }
    }

    &.is-clicked {
      &:before, &:after,
      .blog-item-link:after,
      .post-date-wrapper,
      .blog-item-tags-wrapper,
      .blog-item-title-wrapper {
        opacity: 0;
      }

      .blog-item-link {
        transform: scale(1) translateY(0);
      }

      .blog-item-background:after {
        opacity: 1;
      }
    }
  }
}

.has-card-hover {
  .blog-item.card {
    transition: transform $speed $easing 0s,
                z-index 0s $speed,
                opacity $speed $easing;

    &:before, &:after {
      transition: opacity $speed $easing 0s,
                  z-index $speed $easing $speed,
                  transform $speed $easing 0s,
                  height $speed $easing 0s,
                  width $speed $easing 0s;
    }

    .blog-item-link {
      transition: transform $speed $easing 0s,
                  border $speed $easing 0s,
                  z-index 0s $speed,
                  opacity $speed $easing;
    }

    &:hover {
      transition: transform $speed $easing ($speed * 1.2),
                  z-index 0s ($speed * 1.2),
                  opacity $speed $easing;

      &:before, &:after {
        transition: opacity $speed $easing ($speed * 1.2),
                    z-index $speed 0s,
                    transform $speed $easing ($speed * 1.2),
                    height $speed $easing ($speed * 1.2),
                    width $speed $easing ($speed * 1.2);
      }

      .blog-item-link {
        transition: transform $speed $easing ($speed * 1.2),
                    border $speed $easing ($speed * 1.2),
                    z-index 0s ($speed * 1.2),
                    opacity $speed $easing;
      }
    }
  }
}

.card-overview {
  .card[data-horizontal-shadow="right"] {
    &:before, &:before {
      background: linear-gradient(to right,
        rgba(black, 0) 0%,
        rgba(black, 0) 30%,
        rgba(black, .8) 70%,
        rgba(black, 0) 100%
      );
    }
  }

  .card[data-horizontal-shadow="left"] {
    &:before, &:before {
      background: linear-gradient(to right,
        rgba(black, 0) 0%,
        rgba(black, .8) 30%,
        rgba(black, 0) 70%,
        rgba(black, 0) 100%
      );
    }
  }

  .card[data-horizontal-shadow="none"] {
    &:before, &:before {
      display: none;
    }
  }

  .card[data-vertical-shadow="top"] {
    &:after, &:after {
      background: linear-gradient(to bottom,
        rgba(black, 0) 0%,
        rgba(black, .8) 30%,
        rgba(black, 0) 70%,
        rgba(black, 0) 100%
      );
    }
  }

  .card[data-vertical-shadow="bottom"] {
    &:after, &:after {
      background: linear-gradient(to bottom,
        rgba(black, 0) 0%,
        rgba(black, 0) 30%,
        rgba(black, .8) 70%,
        rgba(black, 0) 100%
      );
    }
  }

  .card[data-vertical-shadow="none"] {
    &:after, &:after {
      display: none;
    }
  }
}
