.hamburger-menu {
  @include isolation-span(1, 4, 'left', $gutter: 0);

  @include breakpoint($tablet) {
    @include grid-span(1, 3);
  }

  @include responsive-repeat($laptop, $desktop, $modern) {
    @include grid-span(1, 2);
  }

  padding: 20px;
  margin-top: 60px;
  width: 50px !important;
  z-index: 4;
  position: relative;
  transition: opacity $speed $easing;

  &:after {
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.4);
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: $gray-light;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all $speed $easing;
  }

  .bar {
    width: 40px;
    height: 3px;
    background: $gray;
    transition: all $speed $easing;
  }

  .bar + .bar {
    margin-top: 10px;
  }

  &:hover {
    .bar:nth-child(1) {
      transform: translateX(-4px) rotate(-45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateX(-4px) rotate(45deg);
    }
  }

  &.fade-out {
    opacity: 0;
  }

  &.clicked {
    &:after {
      animation: back_flip $speed $easing 0s 1;
    }
  }
}

@keyframes back_flip {
  0% {
    transform: translate(-50%, -50%) scale(.4);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
