.post-date-wrapper {
  color: white;
  display: block;

  .post-date-month {
    font-size: 10px;
    position: absolute;
    bottom: 8px;
    right: 3px;
    text-transform: uppercase;
  }

  .post-date-number-first {
    font-size: 50px;
    position: absolute;
    right: 24px;
    bottom: 0;
    display: block;
  }

  .post-date-number-last {
    font-size: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    clip: rect(0px, 30px, 36px, 0px);
  }
}
