.post {
  transition: transform $speed $easing;
  transform: translateX(0);
  padding-bottom: 100px;

  .site-author {
    transition: opacity $speed $easing;
    opacity: 1;
    margin-top: -5px;

    h1 {
      margin-top: 0;
    }
  }

  pre {
    background: $gray-light;
    padding: 20px;
    font-size: 20px;
  }
}

.post-header {
  @include isolation-span(1, 4, 'left', $gutter: 0);

  @include breakpoint($tablet) {
    @include grid-span(2, 4, $gutter: 0);
  }

  @include responsive-repeat($laptop,$desktop, $modern) {
    @include grid-span(3, 3, $gutter: 0);
  }

  transition: opacity $speed $easing;
  opacity: 1;
}

.post-left {
  @include isolation-span(1, 4, 'left', $gutter: 0);

  @include breakpoint($tablet) {
    @include grid-span(1, 3, $gutter: 0);
    padding-right: 10px;
  }

  @include responsive-repeat($laptop, $desktop, $modern) {
    @include grid-span(1, 2);
  }

  transition: opacity $speed $easing;
}

.post-meta {
  color: $gray;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 60px;
}

.post-content {
  @include isolation-span(1, 4, 'left', $gutter: 0);

  @include breakpoint($tablet) {
    @include isolation-span(2, 4, 'both', $gutter: 0);

    img {
      margin-bottom: 20px;
    }
  }

  @include responsive-repeat($laptop, $desktop, $modern) {
    @include isolation-span(3, 3, 'both', $gutter: 0);
  }


  img.left {
    @include isolation-span(1, 1, 'both', 1, $gutter: 0);

    @include breakpoint($tablet) {
      @include isolation-span(2, 0, 'both', $grid: 2, $gutter: 0);
      margin-right: 20px;
    }

    @include breakpoint($laptop) {
      @include isolation-span(2, 0, 'both', $grid: 3, $gutter: 0);
      margin-right: 20px;
    }
  }

  img.right {
    @include isolation-span(1, 1, 'both', 1, $gutter: 0, $from: 'right');

    @include breakpoint($tablet) {
      @include isolation-span(2, 0, 'both', $grid: 2, $gutter: 0, $from: 'right');
      margin-left: 20px;
    }

    @include breakpoint($laptop) {
      @include isolation-span(2, 0, 'both', $grid: 3, $gutter: 0, $from: 'right');
      margin-left: 20px;
    }
  }

  img.wide {
    @include isolation-span(1, 2, 'both', 1, $gutter: 0);
    width: 100% / 8 * 10;
    margin-left: - 100% / 8;

    @include breakpoint($tablet) {
      @include isolation-span(3, 0, 'both', $grid: 2, $gutter: 0);
      margin-right: - 100% / 16;
    }

    @include breakpoint($laptop) {
      @include isolation-span(4, 1, 'both', $grid: 3, $gutter: 0, $from: 'right');
      margin-left: 0;
    }

    @include breakpoint($desktop) {
      @include isolation-span(5, 0, 'both', $grid: 3, $gutter: 0, $from: 'right');
      margin-left: 0;
    }
  }

  img.small {
    @include isolation-span(1, 1, 'both', 1, $gutter: 0);

    @include breakpoint($tablet) {
      @include isolation-span(2, 1, 'both', $grid: 2, $gutter: 0);
    }

    @include breakpoint($laptop) {
      @include isolation-span(3, 1, 'both', $grid: 3, $gutter: 0);
    }
  }

  img.tiny {
    @include isolation-span(1, 1, 'both', 1, $gutter: 0);

    @include breakpoint($tablet) {
      @include isolation-span(1, 1, 'both', $grid: 2, $gutter: 0);
      margin-right: 20px;
    }

    @include breakpoint($laptop) {
      @include isolation-span(1, 2, 'both', $grid: 3, $gutter: 0);
      margin-right: 6000px;
    }
  }

  > *:not(.post-image) {
    transition: opacity $speed $easing;
    opacity: 1;
  }

  pre + p {
    clear: left;
  }

  p {
    font-size: 22px;
    line-height: 32px;
  }

  @include breakpoint(max-width $tablet) {
    p {
      @include clearfix;
    }
  }

  p:nth-child(2) {
    margin-top: 0;
    font-family: Aaux ProThin;
    padding-left: 20px;
    line-height: 38px;
    font-size: 28px;
    border-left: 2px solid $gray-light;
    position: relative;
    margin-top: -9px;

    &:after {
      top: 0;
      left: -2px;
      content: '';
      width: 2px;
      height: 9px;
      background: white;
      display: block;
      position: absolute;
    }

    @include breakpoint(max-width $tablet) {
      clear: both;
      @include clearfix;
    }

    @include breakpoint($desktop) {
      line-height: 46px;
      font-size: 36px;
    }
  }
}

.post-title {
  font-size: 50px;
  margin-left: -4px;
  @include breakpoint($tablet) {
    font-size: 70px;
  }
}

.post-tags-wrapper {
  margin-left: -3px;
  display: block;
  padding-bottom: 40px;
  @include clearfix;

  .tag {
    float: left;
    margin: 3px;

    &:hover {
      opacity: .6;
    }
  }
}

.post-image {
  @include isolation-span(1, 1, 'right', 1, $from: 'right');
  width: 100% / 8 * 10;
  margin-left: - 100% / 8;

  @include breakpoint($tablet) {
    @include isolation-span(1, 1, 'right', 2, $from: 'right');
    width: 50% / 8 * 5;
    margin-right: - 50% / 8;
    margin-left: 20px !important;
  }

  @include breakpoint($laptop) {
    @include isolation-span(1, 1, 'right', 3, $from: 'right');
    width: 33.333% / 8 * 9;
    margin-right: - 33.333% / 8;
  }

  @include responsive-repeat($desktop, $modern) {
    @include isolation-span(2, 0, 'right', 3, $from: 'right');
  }

  margin-bottom: 20px;
  transition: all $speed $easing;
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.transition-post-out,
.transition-in {
  .post-left,
  .post-content > *:not(.post-image),
  .post-header {
    opacity: 0;
  }
}

.transition-post-out {
  .post-image {
    opacity: 0;
  }

  &.post {
    transform: translateX(100px);
  }
}

@for $i from 1 through 30 {
  .card-overview.transition-in-prepare .padder:nth-child(#{$i}) .card {
    transition-delay: $i * .05s !important;
  }
}
