.search-field {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid $gray-light;
  width: 100%;
  margin-bottom: 20px;
  transition: all $speed $easing;
  position: relative;

  &:focus {
    border-bottom: 1px solid $gray;
  }
}

.search-wrapper {
  position: relative;
}

.search-field + .search-icon {
  position: absolute;
  top: 7px;
  right: 5px;
  width: 40px;
  height: 40px;
  transition: all $speed $easing;

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 3px;
    background: $gray;
    top: 0;
    right: 0;
    transform: translate(0px, 13px) rotate(-45deg);
    transition: all $speed $easing;
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 3px solid $gray;
    background: white;
    top: 0;
    right: 0;
    transform: translate(0, 0) rotate(45deg);
    transition: all $speed $easing;
  }
}

.search-field.has-value + .search-icon {
  cursor: pointer;

  &:before {
    height: 20px;
    transform: translate(-5px, 5px) rotate(135deg);
  }

  &:after {
    height: 20px;
    width: 3px;
    border-radius: 0;
    background: $gray;
    transform: translate(-5px, 4px) rotate(-135deg);
    border: 0px solid transparent;
  }
}

.is-searching {
  .search-icon {
    opacity: 0;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    background: $gray;
    top: 10px;
    border-radius: 50%;
    right: 3px;
    transform: scale(1);
    z-index: 1;
    animation: is_searching .8s $easing 0s infinite;
  }
}


@keyframes is_searching {
  0% {
    transform: scale(.4);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(.4);
    opacity: 0;
  }
}
