.sidebar-left {
  transition: opacity $speed $easing;

  @include isolation-span(1, 4, $clear: 'left');

  @include breakpoint($tablet) {
    @include isolation-span(1, 3, $clear: 'left');
  }

  @include responsive-repeat($laptop, $desktop, $modern) {
    @include isolation-span(1, 2, $clear: 'left');
  }

  opacity: 1;
}

.sidebar-left.transition-in {
  opacity: 0;
}
