.site-title {
  font-size: 50px;
  @include grid-span(1, 4);
  margin-bottom: 10px;
  margin-top: 50px;

  span.name {
    clear: left;
    display: block;
  }

  @include breakpoint($tablet) {
    @include grid-span(2, 4);
    font-size: 70px;
    margin-bottom: 46px;

    span.name {
      clear: none;
      display: inline;
    }
  }

  @include responsive-repeat($laptop, $desktop, $modern) {
    @include grid-span(3, 3);
  }
}

