.tag {
  border-radius: $radius;
  padding: 10px;
  color: white;
  background-color: $gray;
  display: block;
  float: left;
  text-decoration: none;
  transition: all $speed $easing;

  &.active, &:hover {
    background: $black;
  }
}
