---
layout: html
title: Daniël Beeke
---
<h1 class="site-title"><span class="name">Daniël Beeke</span></h1>

<div class="sidebar-left transition-in">
  {% include author.html title="About me" %}

  <div class="search-wrapper">
    <input type="text" placeholder="Search the blog…" class="search-field">
    <div class="search-icon"></div>
  </div>

  <div class="card-filters">
    <a class="tag clear-filters" href="#">𐄂 Clear filter(s)</a>
    {% for category in site.categories %}
      <a href="#" class="tag" data-tag="{{ category[0] | replace: ' ', '-' }}">{{ category[0] }}</a>
    {% endfor %}
  </div>
</div>

<div class="card-overview transition-in transition-in-prepare">
  {% for post in site.posts %}
    {% if post.popup == true %}
      {% include card-popup.html %}
    {% else %}
      {% include card.html %}
    {% endif %}
  {% endfor %}
</div>
