<article class="card blog-item">
  <div class="front">
    <a class="blog-item-link" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url(/img/{{ post.image }});">
      <span class="blog-item-title-wrapper">
        <h1 class="blog-item-title">{{ post.title }}</h1>
      </span>

      <span class="blog-item-tags-wrapper">
        {% for category in post.categories %}
          <span class="tag" style="background-color: #{{ post.color }}">{{ category }}</span>
        {% endfor %}
      </span>

      {% assign post_date = post.date | date: "%-d" %}
      {% assign post_date_size = post_date | split: '' | size %}

      <span class="post-date-wrapper">
        <span class="post-date-month">{{ post.date | date: "%b" }}</span>
        {% if post_date_size > 1 %}
        <span class="post-date-number-first">{{ post_date | split: '' | first }}</span>
        {% endif %}
        <span class="post-date-number-last">{{ post_date | split: '' | last }}</span>
      </span>
    </a>
  </div>
  <div class="back">
    <div class="back-inner" style="border-color: #{{ post.color }};">
      <h1 class="blog-item-back-title">{{ post.title }}</h1>
    </div>
  </div>
</article>
