html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Ubuntu;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Aaux ProThin;
  font-weight: 100;
}

article {
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  h3 {
    font-weight: bold;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  ul {
    font-size: 22px;
    line-height: 32px;
    padding-left: 20px;
    color: $gray-dark;
  }
}


::placeholder {
  font-family: Ubuntu;
  font-size: 16px;
}

a {
  color: $gray-dark;
  transition: all $speed $easing;

  &:hover {
    color: $black;
  }
}
