html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  font-family: Ubuntu;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Aaux ProThin;
}

article h1 {
  font-size: 30px;
}
